BasedOnStyle: Google
IndentWidth: 4
UseTab: Never
ColumnLimit: 120
SpaceBeforeParens: Never
DerivePointerAlignment: false
PointerAlignment: Left
ReferenceAlignment: Left
Cpp11BracedListStyle: true
AllowShortFunctionsOnASingleLine: Empty
BreakBeforeBraces: Attach
AlignOperands: true
AlignArrayOfStructures: Left
